<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assests/css/style.css" type="text/plain" />
		<title>Warhammer 40,000 Wishlist</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assests/js/app.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>